{% extends "Layout/Layout.html" %}
{%block body %}
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' /> 
<script data-require="jquery@*" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.0/fullcalendar.min.js"></script>
<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<link href="{{ url_for('static', filename='packages/core/main.css') }}"rel='stylesheet' />
<link href="{{ url_for('static', filename='packages/bootstrap/main.css') }}"rel='stylesheet' />
<link href="{{ url_for('static', filename='packages/daygrid/main.css') }}"rel='stylesheet' />
<link href="{{ url_for('static', filename='packages/timegrid/main.css') }}"rel='stylesheet' />
<link href="{{ url_for('static', filename='packages/list/main.css') }}"rel='stylesheet' />
<script src="{{ url_for('static', filename='packages/core/main.js') }}"></script>
<script src="{{ url_for('static', filename='packages/interaction/main.js') }}"></script>
<script src="{{ url_for('static', filename='packages/moment-timezone/main.js') }}"></script>
<script src="{{ url_for('static', filename='packages/bootstrap/main.js') }}"></script>
<script src="{{ url_for('static', filename='packages/daygrid/main.js') }}"></script>
<script src="{{ url_for('static', filename='packages/timegrid/main.js') }}"></script>
<script src="{{ url_for('static', filename='packages/list/main.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<style>

  html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 40px auto;
  }

</style>
<div id='calendar'></div>
<div id="createEventModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4>Schedule time with {{dog.name}}</h4>
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
          </div>
            <div id="modalBody" class="modal-body">
              <div class="form-group form-inline">
                <div class="col-sm-6">
                  <input type="text" class="form-control datetimepicker-input" id="from-time" data-toggle="datetimepicker" data-target="#from-time"/>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control datetimepicker-input" id="to-time" data-toggle="datetimepicker" data-target="#to-time"/>
                </div>
              </div>
            </div>
          
          <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
          </div>
      </div>
  </div>
</div>
<div id="editEventModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4>edit time with {{dog.name}}</h4>
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
          </div>
            <div id="modalBody" class="modal-body">
              <div class="form-group form-inline">
                <div class="col-sm-6">
                  <input type="text" class="form-control datetimepicker-input" id="edit-from-time" data-toggle="datetimepicker" data-target="#edit-from-time"/>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control datetimepicker-input" id="edit-to-time" data-toggle="datetimepicker" data-target="#edit-to-time"/>
                </div>
              </div>
            </div>
          
          <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <button type="submit" class="btn btn-primary" id="updateButton">Update</button>
              <button type="submit" class="btn btn-primary" id="deleteButton">Delete</button>
          </div>
      </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    userInfoNamespace = '/Availability/';
    var AvailabilitySocket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + userInfoNamespace);
    var calendarEl = document.getElementById('calendar');
    d = new Date();
    var data;
    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'dayGrid', 'timeGrid', 'list', 'bootstrap', 'interaction' ],
      timeZone: 'America/New_York',
      themeSystem: 'bootstrap',
      header: {
        left: 'prev,next',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },
      select: function (endDate) {
        d = endDate.end;
              //do something when space selected
              //Show 'add event' modal
              $('#createEventModal').modal('show');
          },
      eventClick: function (i) {
              data = i.event;
              d = data.start;
              if(data.start != null){
                start = data.start
                start.setHours(start.getHours()+(data.start.getTimezoneOffset()/60));
                start = moment(start , "YYYY-MM-DD hh:mm A").format("hh:mm A");
                document.getElementById('edit-from-time').value = start;
              }
              if(data.end != null){
              end = data.end;
              end.setHours(end.getHours()+(data.end.getTimezoneOffset()/60));
              end = moment(end ,"YYYY-MM-DD hh:mm A").format("hh:mm A");
              document.getElementById('edit-to-time').value = end;
              }
              $('#editEventModal').modal('show');
          },
  
      editable: true,
      selectable: true,
      eventLimit: true // allow "more" link when too many events
      
    });
    $('#from-time').datetimepicker({
    format: 'LT'
    });
    $('#edit-from-time').datetimepicker({
        format: 'LT'
    });
    $('#edit-to-time').datetimepicker({
        format: 'LT'
    });
    $('#to-time').datetimepicker({
        format: 'LT'
    });
    calendar.render();
    $('#submitButton').on('click', function(e){
              // We don't want this to act as a link so cancel the link action
        doSubmit();
    });
    $('#updateButton').on('click', function(e){
              // We don't want this to act as a link so cancel the link action
        doUpdate();
    });
    $('#deleteButton').on('click', function(e){
              // We don't want this to act as a link so cancel the link action
        doDelete();
    });
    askAvailability();
    myInterval = setInterval(function(){
      askAvailability();
    }, 3000);
    function askAvailability(){
      AvailabilitySocket.emit('askAvailability',
                {'dogID': "{{dog.dogID}}"})
    }
    var ids = [];
    AvailabilitySocket.on('giveAvailability', function(messages) {
      for (var i=0; i < messages.Availability.length; i++){
        var message = messages.Availability[i];
        if(!ids.includes(message.AvailabilityID)){
          ids.push(message.AvailabilityID)
                  calendar.addEvent({
                  id: message.AvailabilityID,
                  title: message.message,
                  start: message.Begin_ts,
                  end: message.End_ts
                });
          }
        }
    });

    function doSubmit(){
          $("#createEventModal").modal('hide');
          fTime = new Date(Date.parse($("#from-time").val()));
          fromTime = new Date(d.getFullYear(), d.getMonth(), d.getDate(), fTime.getHours(), fTime.getMinutes(), fTime.getSeconds()).toISOString();
          console.log(fromTime)
          toTime = new Date(Date.parse($("#to-time").val()));
          toTime = new Date(d.getFullYear(), d.getMonth(), d.getDate(), toTime.getHours(), toTime.getMinutes(), toTime.getSeconds()).toISOString();
          var details = "{{user.firstName}}'s time with {{dog.name}}.";
          /*
          This is now deprecated. Replaced with using sockets.
              calendar.addEvent({
                title: details,
                start: fromTime,
                end: toTime
              });
              */
              AvailabilitySocket.emit('getAvailability', {dogID:"{{dog.dogID}}", userID: "{{user.userID}}", Begin_ts: fromTime, End_ts: toTime, message: details});
  }
  function doUpdate(){
          $("#editEventModal").modal('hide');
          fTime = new Date(Date.parse($("#edit-from-time").val()));
          fromTime = new Date(d.getFullYear(), d.getMonth(), d.getDate(), fTime.getHours(), fTime.getMinutes(), fTime.getSeconds()).toISOString();
          toTime = new Date(Date.parse($("#edit-to-time").val()));
          toTime = new Date(d.getFullYear(), d.getMonth(), d.getDate(), toTime.getHours(), toTime.getMinutes(), toTime.getSeconds()).toISOString();
          AvailabilitySocket.emit('updateAvailability', {AvailabilityID: data.id, Begin_ts: fromTime, End_ts: toTime});
          oldEvent = calendar.getEventById(data.id)
          oldEvent.remove();
          var index = ids.indexOf(Number(data.id));
          if (index !== -1) {
            ids.splice(index, 1);
          }
  }

  function doDelete(){
          $("#editEventModal").modal('hide');
          AvailabilitySocket.emit('deleteAvailability', {AvailabilityID: data.id});
          oldEvent = calendar.getEventById(data.id)
                  oldEvent.remove();
  }
  });

</script>
{% endblock %}