{% extends "Layout/Layout.html" %}
{% block head %}
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
<div class="backgroundContainer">
  <div class="mainContainer">
    <h2>Tell Us About Your Family</h2>
    <br><br><br>
    <p><strong>I Want To Create a Family</strong></p>
    <input type="submit" value="Create" onclick="window.location='/Create/Start/Family'">
    <br><br>
    <p><strong>I Want To Join an Existing Family</strong></p>
    <input type="submit" value="Join" onclick="window.location='/Join/Family/Landing'">

  </div>
{% endblock %}
</div>
