{% extends "Layout/Layout.html" %}
{% block notifications %}
{% endblock %}
{% block head %}
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}

<table style="width:100%">
        <h1>
        <tr>
          <td><b>profile</b></td>
          <td><b>Name</b></td>
          <td><b>Join Family</b></td>
       </tr>
       </h1>
     {% for User in Users %}
        <tr>
           {% if User.image == None %}
           <td><a href="{{ url_for('static', filename = 'pictures/Profile/thor' + '.jpg') }}">
             <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="img-thumbnail"></a></td>
           {% elif User.image != None %}
             <td><a href="{{ url_for('static', filename = User.image + '.jpg') }}">
               <img src="{{ url_for('static', filename = User.image + '.thumbnail') }}"class="img-thumbnail"></a></td>
           {% endif %}
          <td><h3><b>{{User.familyName}}</b></h3> </td>
          <td><input type="button" id="{{User.userID}}" value="Join Family" onclick="window.location = '/Join/Family/{{User.userID}}';"></td>
        </tr>
     {% endfor %}
     </table>
     {% endblock %}