{% extends "Layout/Layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="backgroundContainer">
  <div class="mainContainer">
    <h2>{{dog.tDog.name}}'s profile</h2>
    {% if dog.tDog.image == None %}
    <a href="{{ url_for('static', filename = 'pictures/Profile/thor' + '.jpg') }}">
      <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="img-thumbnail"></a>
    {% elif dog.image != None %}
      <a href="{{ url_for('static', filename = dog.tDog.image + '.jpg') }}">
        <img src="{{ url_for('static', filename = dog.tDog.image + '.thumbnail') }}"class="img-thumbnail"></a>
        <br><br>
        <button onclick="window.location='/Dog/Profile/{{dog.tDog.dogID}}';">Back To {{dog.tDog.name}} Profile</button>
    {% endif %}
    <br>
    <br>
    <div class="profileMain">
      <h2> Information about {{dog.tDog.name}} </h2>
      <br>
      <p>Gender: {{dog.tDog.Gender}} </p>
      <p>Breed: {{dog.tBreed.breed}} </p>
      <p>Fixed: {{dog.tDog.fixed}} </p>
      <p>Age: {{dog.tDog.age}} </p>
      <p>Size: {{dog.tDog.Size}} </p>
      <p>Weight: {{dog.tDog.weight}}</p>
      <p>Favorite Toy: {{dog.tFavoriteToy.ToyName}}</p>
      <p>Fun Fact: {{dog.tDog.bio}} </p>
    </div>

      </div>
  </div>
{% endblock %}
</div>
