{% extends "Layout/Layout.html" %}
{% block head %}
<script>
  messageSock = commentSock();
    function changeLike(id) {
    value = document.getElementById(id).value;
          window.location = '/' + value + '/' + id;
    if (value == 'Unlike'){
    document.getElementById(id).value = 'Like';
    }
    else {
    document.getElementById(id).value = 'Unlike';
      }
    }
  </script>
{% endblock %}
{% block body %}
<div class="backgroundContainer">
  <div class="mainContainer">
    <h1>{{dog.tDog.name}}s profile</h1>
    {% if dog.tDog.image == None %}
    <a href="{{ url_for('static', filename = 'pictures/Profile/thor' + '.jpg') }}">
      <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="profileImg"></a>
    {% elif dog.tDog.image != None %}
      <a href="{{ url_for('static', filename = dog.tDog.image + '.jpg') }}">
        <img src="{{ url_for('static', filename = dog.tDog.image + '.thumbnail') }}"class="profileImg"></a>
    {% endif %}
    <br><br>
    <button onclick="window.location='/Dog/Info/{{dog.tDog.dogID}}';">More About {{dog.tDog.name}}</button>
    <br>
    <br>
    <button onclick="window.location='/Playdate/{{dog.tDog.dogID}}';">Schedule a playdate with {{dog.tDog.name}}</button>
    <div class="profileMain">
      <section class="profileButtonsText40">
        <div class="dogButtonHalfText">
          <h2>{{dog.tDog.name}}'s breed is {{dog.tBreed.breed}}</h2>
        </div>
        <div class="playdateButtonHalfText">
          <h2 style="float: right;">{{dog.tDog.name}} is {{dog.tDog.age}} years old.</h2>
        </div>
        <br><br><br>
      </section>
      <div class="feed">
          <div class="container">
            <br>
              <h1 style="text-align: center;">{{dog.tDog.name}}'s feed</h1>
              <br>
            {% for post, like in postResults %}
            <div class="postContainer">
            <div class="well well-lg">
              <p>
                  {% if post.image == None %}
                  <a href="{{ url_for('static', filename = 'pictures/Profile/thor' + '.jpg') }}">
                    <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="img-thumbnail"></a>
                  {% elif post.image != None %}
                    <a href="{{ url_for('static', filename = post.image + '.jpg') }}">
                      <img src="{{ url_for('static', filename = post.image + '.thumbnail') }}"class="img-thumbnail"></a>
                  {% endif %}
                <a href="/User/Profile/{{post.userID}}"><b style="color: #0d6591;">{{post.firstName}} {{post.lastName}}</b></a> wrote this about <a href="/Dog/Profile/{{post.tDog.dogID}}"><b style="color: #0d6591;">{{post.tDog.name}}</b></a>:
                {% if post.tDog.image == None %}
                <a href="{{ url_for('static', filename = 'pictures/Profile/thor' + '.jpg') }}">
                  <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="img-thumbnail"></a>
                {% elif post.tDog.image != None %}
                  <a href="{{ url_for('static', filename = post.tDog.image + '.jpg') }}">
                    <img src="{{ url_for('static', filename = post.tDog.image + '.thumbnail') }}"class="img-thumbnail"></a>
                {% endif %}
              </p>
              <p>{{ post.Post }}</p>
            </div>
            <textarea id="Comment" name="Comment"></textarea>
            <br>
            <button onclick="submitComment('{{post.postID}}', messageSock);" style="font-size: 70%;">Comment</button>
            <input type="button" style="font-size: 70%;" id="{{post.postID}}" value ="{{like}}" onclick="changeLike({{post.postID}});">
          <br>
            <div class="commentResultContainer">

              {% set count = namespace(a=0) %}
              {% for react in reactResults %}
                {% if post.postID == react.postID %}
                {% if count.a == 0 %}
                <p>
                    {% if react.image == None %}
                    <a href="{{ url_for('static', filename = 'pictures/Profile/thor' + '.jpg') }}">
                      <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="img-thumbnail"></a>
                    {% elif react.image != None %}
                      <a href="{{ url_for('static', filename = react.image + '.jpg') }}">
                        <img src="{{ url_for('static', filename = react.image + '.thumbnail') }}"class="img-thumbnail"></a>
                    {% endif %}
                  <a href="/User/Profile/{{post.userID}}"><b style="color: #0d6591;">{{react.firstName}} {{react.lastName}}</b></a>
                {% endif %}
                {% set count.a = count.a + 1 %}
                {% endif %}
              {% endfor %}
              {% if count.a > 1 %}
              <a href="/Likes/Post/{{post.postID}}">and {{count.a - 1}} others liked this</a></p>
              {% elif count.a == 1 %}
              liked this</p>
              {{else}}
                </p>
              {% endif %}
              <hr>
              {% set count = namespace(a=0) %}
              {% for comment in commentResults %}
                {% if post.postID == comment.postID %}
                {% if count.a < 3 %}
                <p>
                    {% if comment.image == None %}
                    <a href="{{ url_for('static', filename = 'pictures/Profile/thor' + '.jpg') }}">
                      <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="img-thumbnail"></a>
                    {% elif comment.image != None %}
                      <a href="{{ url_for('static', filename = comment.image + '.jpg') }}">
                        <img src="{{ url_for('static', filename = comment.image + '.thumbnail') }}"class="img-thumbnail"></a>
                    {% endif %}
                  <a href="/User/Profile/{{comment.userID}}"><b style="color: #0d6591;">{{comment.firstName}} {{comment.lastName}}</b></a> said: </p>
                <p>{{comment.Comment}}</p>
                {% set count.a = count.a + 1 %}
                {% endif %}
                {% endif %}
              {% endfor %}
              {% if count.a > 0%}
              <a href="/View/Post/{{post.postID}}"> View all comments</a>
              {% endif %}
            </div>
          </div>
          {% endfor %}

          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
</div>
