{% extends "Layout/Layout.html" %}

<html>
  {% block head %}
      <title> Dashboard</title>
  {% endblock %}
  {% block body %}
  <div class="backgroundContainer">
    <div class="mainContainer">
        {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
      {% for message in messages %}
      <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Success!</strong> You have been signed in successfully!
        </div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
      <h2>Hello, {{user.firstName}}!</h2>
      <a href="{{ url_for('static', filename = user.image + '.jpg') }}">
        <img src="{{ url_for('static', filename = user.image + '.thumbnail') }}"class="img-thumbnail"></a>
      <div class="subContainer">
        <form action="/Create/Post" method="post" novalidate>
          <select name="DogValue">
            {% for dog in dogResults %}
            <option  value="{{dog.dogID}}">{{dog.name}}</option>
            {% endfor %}
          </select>
          <textarea name="Post" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What's on your mind?"></textarea>
          <button>Create Post</button>
        </form>
      </div>
      <br>
      <h2>Your Feed</h2>
      <div class="feed">
      <div class="container">
        {% for post in postResults %}
        <div class="well well-lg"><p><br>{{post.firstName}} {{post.lastName}} wrote this about {{post.name}}: <b>{{ post.Post }}</b></p></div>
        <form action="/Create/Comment/{{post.postID}}" method="post" novalidate>
        <textarea name="Comment"></textarea>
        <button onclick="window.location='/Create/Comment/{{post.postID}}';">Comment</button>
      </form>
      <button onclick="window.location='/Create/Like/{{post.postID}}';">like</button>
        <br>
        
        
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  <script>
  window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 4000);
  </script>
{% endblock %}
</html>
