{% extends "Layout/Layout.html" %}

<html>
  {% block head %}
      <title> Dashboard</title>
  {% endblock %}      
  {% block body %}
  <div class="container">
  <div class="jumbotron text-center">
      <h1>Hello, {{user.username}}!</h1>
      <form action="/Create/Post" method="post" novalidate>
      <select> 
          {% for dog in dogResults %}
        <option name="DogValue" value="{{dog.dogID}}">{{dog.name}}</option>
        {% endfor %}
      </select>
      <textarea name="Post" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <button>Create Post</button>
    </div>
  </form>
    {% for post in postResults %}
    <div class="well well-lg"><p> None of your Business says: <b>{{ post.Post }}</b></p></div>
    {% endfor %}
  </div>


{% endblock %}
</html>
