{% extends "Layout/Layout.html" %}
{% block head %}

<script>
  function changeFollow(id) {
	value = document.getElementById("Dog/" + id).value;
        window.location = '/' + value + '/' + id;
	if (value == 'Unfollow'){
	document.getElementById("Dog/" + id).value = 'Follow';
	}
	else {
	document.getElementById("Dog/" +id).value = 'Unfollow'
    }
  }
  function changeFriend(id) {
	value = document.getElementById("Friend/" + id).value;
        window.location = '/' + value + '/' + id;
	if (value == 'Unfollow'){
	document.getElementById("Friend/" + id).value = 'Friend';
	}
	else {
	document.getElementById("Friend/" + id).value = 'UnFriend'
    }
  }
</script>

{% endblock %}
{% block body %}

 <table style="width:100%">
   <h1>
   <tr>
     <td><b>profile</b></td>
     <td><b>Name</b></td>
     <td><b>Follow</b></td>
  </tr>
  </h1>
{% for dogs, text in results %}
   <tr>
      {% if dogs.image == None %}
      <td><a href="{{ url_for('static', filename = 'pictures/Profile/thor' + '.jpg') }}">
        <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="img-thumbnail"></a></td>
      {% elif dogs.image != None %}
        <td><a href="{{ url_for('static', filename = dogs.image + '.jpg') }}">
          <img src="{{ url_for('static', filename = dogs.image + '.thumbnail') }}"class="img-thumbnail"></a></td>
      {% endif %}
     <td><h3><b>{{dogs.name}}</b></h3> </td>
     <td><input type="button" id="Dog/{{dogs.dogID}}" value="{{text}}" onclick="changeFollow({{dogs.dogID}})"></td>
   </tr>
{% endfor %}
</table>
<a href="/Search/Dogs">View All Dogs</a>

<table style="width:100%">
    <h1>
    <tr>
      <td><b>profile</b></td>
      <td><b>Name</b></td>
      <td><b>Message</b></td>
   </tr>
   </h1>
 {% for User in Users %}
    <tr>
       {% if User.image == None %}
       <td><a href="/User/Profile/{{User.userID}}">
         <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="img-thumbnail"></a></td>
       {% elif User.image != None %}
         <td><a href="/User/Profile/{{User.userID}}">
           <img src="{{ url_for('static', filename = User.image + '.thumbnail') }}"class="img-thumbnail"></a></td>
       {% endif %}
      <td><h3><b>{{User.firstName}} {{User.lastName}}</b></h3> </td>
      <td><input type="button" id="Message/{{User.userID}}" value="Message" onclick="window.location = '/Messages';"></td>
      <td><input type="button" id="Friend/{{User.userID}}" value="Friend" onclick="changeFriend({{User.userID}})"></td>
    </tr>
 {% endfor %}
 </table>
 <a href="/Search/Users">View All Users</a>

{% endblock %}
