<form action="/userInfo" method="post" novalidate>
    {{ UserInfoform.hidden_tag() }}
    {{ UserInfoform.firstName(placeholder="First Name") }}<br>
    {{ UserInfoform.lastName(placeholder="Last Name") }}<br>
    {{ UserInfoform.addressNumber(placeholder="Address Number") }}<br>
    {{ UserInfoform.stName(placeholder="Street Name") }}<br>
    {{ UserInfoform.city(placeholder="City") }}<br>
    {{ UserInfoform.state(placeholder="State") }}<br>
    {{ UserInfoform.zipCode(placeholder="zipCode") }}<br>
    {{ UserInfoform.submit() }}
</form>
