{% extends "Layout/Layout.html" %}
{% block head %}
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
<form action="/userInfo" method="post" novalidate>
    {{ UserInfoform.hidden_tag() }}
    {{ UserInfoform.firstName(placeholder="First Name") }}<br>
    {{ UserInfoform.lastName(placeholder="Last Name") }}<br>
    {{ UserInfoform.address(placeholder="Address") }}<br>
    {{ UserInfoform.city(placeholder="City") }}<br>
    {{ UserInfoform.state(placeholder="State") }}<br>
    {{ UserInfoform.zipCode(placeholder="zipCode") }}<br>
    {{ UserInfoform.submit() }}
</form>
{% endblock %}
