{% extends "Layout/Layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
<h1>Under Construction</h1>
<form action="/Create/Finish/Dog" method="post" novalidate>
    {{ PasswordResetform.hidden_tag() }}
    <h1>Password Reset</h1>
    {{ PasswordResetform.email(placeholder="Email") }}<br>
    {{ PasswordResetform.password(placeholder="Password") }}<br>
    {{ PasswordResetform.passwordConfirm(placeholder="Confirm Password") }}<br>
    {{ PasswordResetform.submit() }}
</form>
{% endblock %}
