{% extends "Layout/Layout.html" %}
{% block head %}
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
<form action="/PasswordReset" method="post" novalidate>
    {{ PasswordResetform.hidden_tag() }}
    <h1>Favorite Park</h1>
    {{ PasswordResetform.parkName(placeholder="Miami Meadows") }}<br>
    {{ PasswordResetform.address(placeholder="1234 Miami Ave.") }}<br>
    {{ PasswordResetform.city(placeholder="Cincinnati") }}<br>
    {{ PasswordResetform.submit() }}
</form>
{% endblock %}
