{% extends "Layout/Layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="backgroundContainer">
  <div class="mainContainer">
    <form action="/Create/Finish/Dog" method="post" novalidate>
        {{ PasswordResetform.hidden_tag() }}
        <h2>Password Reset</h2>
        {{ PasswordResetform.email(placeholder="Email") }}<br>
        {{ PasswordResetform.password(placeholder="Password") }}<br>
        {{ PasswordResetform.passwordConfirm(placeholder="Confirm Password") }}<br>
        {{ PasswordResetform.submit() }}
    </form>
  </div
</div>
{% endblock %}
