{% extends "Layout/Layout.html" %}
{% block head %}

<script>
  function changeFollow(id) {
	value = document.getElementById(id).value;
        window.location = '/' + value + '/' + id;
	if (value == 'Unfollow'){
	document.getElementById(id).value = 'Follow';
	}
	else {
	document.getElementById(id).value = 'Unfollow'
    }
  }
</script>

{% endblock %}
{% block body %}
<table style="width:100%">
        <h1>
        <tr>
          <td><b>profile</b></td>
          <td><b>Name</b></td>
          <td><b>Message</b></td>
       </tr>
       </h1>
     {% for User in Users %}
        <tr>
           {% if User.image == None %}
           <td><a href="/User/Profile/{{User.userID}}">
             <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="img-thumbnail"></a></td>
           {% elif User.image != None %}
             <td><a href="/User/Profile/{{User.userID}}">
               <img src="{{ url_for('static', filename = User.image + '.thumbnail') }}"class="img-thumbnail"></a></td>
           {% endif %}
          <td><h3><b>{{User.firstName}} {{User.lastName}}</b></h3> </td>
          <td><input type="button" id="{{User.userID}}" value="Message" onclick=""></td>
        </tr>
     {% endfor %}
     </table>
{% endblock %}
