{% extends "Layout/Layout.html" %}
{% block head %}

<script>
  function changeFollow(id) {
	value = document.getElementById("desktopDog/" + id).value;
        window.location = '/' + value + '/' + id;
	if (value == 'Unfollow'){
  document.getElementById("mobileDog/" + id).value = 'Follow';
  document.getElementById("desktopDog/" + id).value = 'Follow';
	}
	else {
  document.getElementById("mobileDog/" +id).value = 'Unfollow'
  document.getElementById("desktopDog/" +id).value = 'Unfollow'
    }
  }
  function changeFriend(id) {
  value = document.getElementById("desktopFriend/" + id).value;
        window.location = '/' + value + '/' + id;
	if (value == 'Unfriend'){
  document.getElementById("mobileFriend/" + id).value = 'Friend';
  document.getElementById("desktopFriend/" + id).value = 'Friend';
	}
	else {
  document.getElementById("mobileFriend/" + id).value = 'Unfriend';
  document.getElementById("desktopFriend/" + id).value = 'Unfriend';
    }
  }
</script>

{% endblock %}
{% block body %}
<div class="mobileReg">
          <div class="feed">
            <h2>Top Dog Results</h2>
            <br>
            <div class="postContainer">
   <table style="width:100%">
     <h1>
     <tr>
       <td><b>Profile</b></td>
       <td><b>Name</b></td>
       <td><b>Follow</b></td>
    </tr>
    </h1>
  {% for dogs, text in results %}
     <tr>
        {% if dogs.image == None %}
        <td><a href="/Dog/Profile/{{dogs.dogID}}">
          <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="profileImg"></a></td>
        {% elif dogs.image != None %}
          <td><a href="/Dog/Profile/{{dogs.dogID}}">
            <img src="{{ url_for('static', filename = dogs.image + '.thumbnail') }}"class="Profile"></a></td>
        {% endif %}
       <td><a href="/Dog/Profile/{{dogs.dogID}}"><h4><u><b>{{dogs.name}}</b></u></h4></a></td>
       <td><input type="button" id="mobileDog/{{dogs.dogID}}" value="{{text}}" onclick="changeFollow({{dogs.dogID}})"></td>
     </tr>
  {% endfor %}
  </table>
  </div>
  <br>
  <a href="/Search/Dogs">View All Dogs</a>
  <br>
  <br>
  <h2>Top User Results</h2>
  <div class="postContainer">
  <table style="width:100%">
      <h1>
      <tr>
        <td><b>Profile</b></td>
        <td><b>Name</b></td>
        <td><b>Friend</b></td>
     </tr>
     </h1>
   {% for User in users %}
      <tr>
         {% if User.image == None %}
         <td><a href="/User/Profile/{{User.userID}}">
           <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="profileImg"></a></td>
         {% elif User.image != None %}
           <td><a href="/User/Profile/{{User.userID}}">
             <img src="{{ url_for('static', filename = User.image + '.thumbnail') }}"class="profileImg"></a></td>
         {% endif %}
        <td><a href="/User/Profile/{{User.userID}}"><h4><u><b>{{User.firstName}} {{User.lastName}}</b></u></h4></a></td>
        <td><input type="button" id="mobileFriend/{{User.userID}}" value={{friends[User.userID]}} onclick="changeFriend({{User.userID}})"></td>
      </tr>
   {% endfor %}
   </table>
   </div>
   <a href="/Search/Users">View All Users</a>
  </div>
</div>

<div class="backgroundContainer">
    <div class="mainContainer">
        <div class="feed">
          <h2>Top Dog Results</h2>
          <br>
          <div class="postContainer">
 <table style="width:100%">
   <h1>
   <tr>
     <td><b>profile</b></td>
     <td><b>Name</b></td>
     <td><b>Follow</b></td>
  </tr>
  </h1>
{% for dogs, text in results %}
   <tr>
      {% if dogs.image == None %}
      <td><a href="/Dog/Profile/{{dogs.dogID}}">
        <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="profileImg"></a></td>
      {% elif dogs.image != None %}
        <td><a href="/Dog/Profile/{{dogs.dogID}}">
          <img src="{{ url_for('static', filename = dogs.image + '.thumbnail') }}"class="Profile"></a></td>
      {% endif %}
     <td><a href="/Dog/Profile/{{dogs.dogID}}"><h5><b>{{dogs.name}}</b></h5></a></td>
     <td><input type="button" id="desktopDog/{{dogs.dogID}}" value="{{text}}" onclick="changeFollow({{dogs.dogID}})"></td>
   </tr>
{% endfor %}
</table>
</div>
<a href="/Search/Dogs">View All Dogs</a>
<br>
<h2>Top user results</h2>
<div class="postContainer">
<table style="width:100%">
    <h1>
    <tr>
      <td><b>Profile</b></td>
      <td><b>Name</b></td>
      <td><b>Friend</b></td>
   </tr>
   </h1>
 {% for User in users %}
    <tr>
       {% if User.image == None %}
       <td><a href="/User/Profile/{{User.userID}}">
         <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="profileImg"></a></td>
       {% elif User.image != None %}
         <td><a href="/User/Profile/{{User.userID}}">
           <img src="{{ url_for('static', filename = User.image + '.thumbnail') }}"class="profileImg"></a></td>
       {% endif %}
      <td><a href="/User/Profile/{{User.userID}}"><h5><b>{{User.firstName}} {{User.lastName}}</b></h5></a></td>
      <td><input type="button" id="desktopFriend/{{User.userID}}" value={{friends[User.userID]}} onclick="changeFriend({{User.userID}})"></td>
    </tr>
 {% endfor %}
 </table>
 </div>
 <a href="/Search/Users">View All Users</a>
</div>
</div>
</div>
{% endblock %}
