{% extends "Layout/Layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
<body>
<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          {% for user in users %}
          {% if loop.first %}
          <div class="inbox_chat">
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="{{user.image}}" > </div>
                <div class="chat_ib">
                  <h5>{{user.firstName}} {{user.lastName}} <span class="chat_date">{{user.time_Sent}}</span></h5>
                  <p>{{user.message}}</p>
                </div>
              </div>
            </div>
            {% else %}
            <div class="chat_list">
              <div class="chat_people">
                {% if user.image == None %}
                <div class="chat_img"><a href="{{ url_for('static', filename = 'pictures/Profile/thor' + '.jpg') }}">
                  <img src="{{ url_for('static', filename = 'pictures/Profile/thor' + '.thumbnail') }}"class="img-thumbnail"></a></div>
                {% elif user.image != None %}
                <div class="chat_img"><a href="{{ url_for('static', filename = user.image + '.jpg') }}">
                    <img src="{{ url_for('static', filename = user.image + '.thumbnail') }}"class="img-thumbnail"></a></div>
                {% endif %}
          
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>{{user.message}}</p>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for user in users %}
        {% for message in messages %}
        {% if user.recipient == message.recipient %}
        <div class="messages_{{message.recipient}}" visibility: hidden;>
        <div class="mesgs">
          <div class="msg_history">
            {% if message.recipient == current_user.id %}
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test which is a new approach to have all
                    solutions</p>
                  <span class="time_date"> 11:01 AM    |    June 9</span></div>
              </div>
            </div>
            {% endif %}
            {% if message.recipient != current_user.id %}
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
          </div>
          <form action="/Send/Message" method="post" novalidate></form>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
        </div>
    </div>
    </div>
</div>
</body>
{% endblock %}