<!DOCTYPE html>
<html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--gathering of external resources-->
<head>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" media="all" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="/static/script.js"></script>
    {% block head %}
    {% endblock %}
</head>
{%block nav%}
 <!--navbar styled with bootstrap classes-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--site label (clickable)-->
    <a class="navbar-brand" href="http://petconnectproject.com:5000">Pet-Connect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--main button list-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://petconnectproject.com:5000/dashboard">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://petconnectproject.com:5000/placeholder">Placeholder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://petconnectproject.com:5000/placeholder">Placeholder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://petconnectproject.com:5000/placeholder">Placeholder</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Do we need search?" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{% endblock %}
{% block body %}
{% endblock %}
</html>
